<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" lang="pt-br"
	layout:decorate="~{clientes/fragments/layout}">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Loja Spring</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap"
	rel="stylesheet">


</head>



<body>

	<!-- Page Content -->
	<section class="layout-content" layout:fragment="corpo">
		<div class="container">


			<div class="row">

				<div class="col-lg-8">
					<div class="main-heading ">Carrinho</div>
					<div class="table-cart">

						<table>
							<thead>
								<tr>
									<th>
										<h5>Produto</h5>
									</th>
									<th>
										<h5>Valor Unitário</h5>
									</th>
									<th>
										<h5>Quantidade</h5>
									</th>
									<th>
										<h5>Total</h5>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${listaProdutos}">
									<td>
										<div class="display-flex align-center">
											<div class="img-product">
												<img
													th:src="@{/produtos/mostrarImagem/{imagem}(imagem=${item.produto.nomeImagem})}"
													alt="" class="mCS_img_loaded">
											</div>
											<div class="name-product">
												<span th:text="${item.produto.nome}"></span>
											</div>
										</div>
									</td>
									<td>
										<div class="price">
											R$<span th:text="${item.produto.valorVenda}"></span>
										</div>

									</td>
									<td class="product-count">
										<form action="#" class="count-inlineflex">
											<a class="qtyminus" role="button"
												th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.produto.id}, acao=${2})}">-</a>
											<input type="text" name="quantidade"
												th:value="${item.quantidade}" class="qty"> <a
												class="qtyplus" role="button"
												th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.produto.id}, acao=${1})}">+</a>
										</form>
									</td>
									<td>
										<div class="total">
											R$<span
												th:text="${#numbers.formatDecimal(item.valorTotal, 0, 'POINT', 2, 'COMMA')}"></span>
										</div>
									</td>
									<td><a role="button" th:href="@{/removerProduto/{id}(id=${item.produto.id})}"title=""> <img
											src="/image/delete.webp" alt="" class="mCS_img_loaded">
									</a></td>
								</tr>

							</tbody>
						</table>
						<div class="coupon-box">
							<form action="#" method="get" accept-charset="utf-8">
								<div class="coupon-input">
									<input type="text" name="coupon code" placeholder="Coupon Code">
									<button type="submit" class="round-black-btn">Cupom de
										Desconto</button>
								</div>
							</form>
						</div>
					</div>

				</div>

				<div class="col-lg-4">
					<div class="cart-totals">
						<h3>Cart Totals</h3>
						<form action="#" method="get" accept-charset="utf-8">
							<table>
								<tbody>
									<tr>
										<td>Subtotal</td>
										<td class="subtotal">R$<span> {Soma de todos os valores dos items}</span>

										</td>
									</tr>
									<tr>
										<td>Frete</td>
										<td class="free-shipping">Frete Grátis</td><!-- TODO: Implementar API de Frete -->
									</tr>
									<tr class="total-row">
										<td>Total</td>
										<td class="price-total">R$1,591.00</td> <!-- TODO: Somar Total e Frete  -->
									</tr>
								</tbody>
							</table>
							<div class="btn-cart-totals">
								<a href="/carrinho" class="update round-black-btn" title="">
									Atualizar Carrinho </a> <a href="#"
									class="checkout round-black-btn" title=""> Finalizar Compra</a>
							</div>

						</form>

					</div>

				</div>



			</div>
		</div>
	</section>

	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>


<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<script src="js/shop-cart.js"></script>

</html>