<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" lang="pt-br"
	layout:decorate="~{clientes/fragments/layout}">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Loja Spring</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">




<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>



<body>

	<!-- Page Content -->
	<section class="layout-content" layout:fragment="corpo">
		<div class="container">

			<div class="row">

				<div class="col-lg-8">
					<div class="main-heading ">Carrinho</div>
					<div class="table-cart">
						<table>
							<thead>
								<tr>
									<th>
										<h5>Produto</h5>
									</th>
									<th>
										<h5>Quantidade</h5>
									</th>
									<th>
										<h5>Total</h5>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="display-flex align-center">
											<div class="img-product">
												<img
													src="https://www.91-img.com/pictures/laptops/asus/asus-x552cl-sx019d-core-i3-3rd-gen-4-gb-500-gb-dos-1-gb-61721-large-1.jpg"
													alt="" class="mCS_img_loaded">
											</div>
											<div class="name-product">
												Apple iPad Mini <br>G2356
											</div>
											<div class="price">R$1,250.00</div>
										</div>
									</td>
									<td class="product-count">
										<form action="#" class="count-inlineflex">
											<div class="qtyminus">-</div>
											<input type="text" name="quantity" value="1" class="qty">
											<div class="qtyplus">+</div>
										</form>
									</td>
									<td>
										<div class="total">R$6,250.00</div>
									</td>
									<td><a href="#" title=""> <img
											src="/image/delete.webp" alt="" class="mCS_img_loaded">
									</a></td>
								</tr>
								
							</tbody>
						</table>
						<div class="coupon-box">
							<form action="#" method="get" accept-charset="utf-8">
								<div class="coupon-input">
									<input type="text" name="coupon code" placeholder="Coupon Code">
									<button type="submit" class="round-black-btn">Cupom de Desconto</button>
								</div>
							</form>
						</div>
					</div>
					
				</div>
			
				<div class="col-lg-4">
					<div class="cart-totals">
						<h3>Cart Totals</h3>
						<form action="#" method="get" accept-charset="utf-8">
							<table>
								<tbody>
									<tr>
										<td>Subtotal</td>
										<td class="subtotal">R$2,589.00</td>
									</tr>
									<tr>
										<td>Frete</td>
										<td class="free-shipping">Frete Gratis</td>
									</tr>
									<tr class="total-row">
										<td>Total</td>
										<td class="price-total">R$1,591.00</td>
									</tr>
								</tbody>
							</table>
							<div class="btn-cart-totals">
								<a href="#" class="update round-black-btn" title=""> Atualizar Carrinho
								</a> <a href="#" class="checkout round-black-btn" title=""> Finalizar Compra</a>
							</div>

						</form>

					</div>

				</div>



			</div>
		</div>
	</section>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>


<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<script src="js/shop-cart.js"></script>

</html>