<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" lang="pt-br"
	layout:decorate="~{clientes/fragments/layout}">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Loja Spring</title>


</head>
<body>

	<!-- Page Content -->
	<section class="layout-content" layout:fragment="corpo">
		<div class="container">
			<div>
				<br> <br> <br>
				<h1 class="main-heading ">Informações do Usuário</h1>
				<!-- TODO: Inluir informações do Usuário -->
				<div class="col-lg-12 cart-totals">

					<table>
						<tr>
							<th>Nome</th>
							<td>Nome Completo do Comprador</td>
						</tr>
						<tr>
							<th>CPF</th>
							<td>CPF do Comprador</td>
						</tr>
						<tr>
							<th>CEP:</th>
							<td><input type="text"> CEP</td>
						</tr>
						<tr>
							<th>Endereço</th>
							<td>Endereço Completo do Comprador</td>
						</tr>
						<tr>
							<th>Forma de Pagamento</th>
							<td>

								<div class="form-group">
									<label for="sel1">Forma de Pagamento</label> <select
										class="form-control" id="sel1">
										<option>PIX</option>
										<option>Cartão de Crédito</option>
										<option>Cartão de Débito</option>
										<option>Boleto Bancário</option>
									</select>
								</div>

							</td>
						</tr>
						<tr>
							<td><button class="btn">Não sou eu</button></td>
						</tr>
					</table>

				</div>


			</div>
			<div class="row">

				<div class="col-lg-8">
					<div class="main-heading ">Itens Escolhidos</div>
					<div class="table-cart">

						<table>
							<thead>
								<tr>
									<th>
										<h5>Produto</h5>
									</th>
									<th>
										<h5>Valor Unitário</h5>
									</th>
									<th>
										<h5>Quantidade</h5>
									</th>
									<th>
										<h5>Total</h5>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${listaProdutos}">
									<td>
										<div class="display-flex align-center">
											<div class="img-product">
												<img
													th:src="@{/produtos/mostrarImagem/{imagem}(imagem=${item.produto.nomeImagem})}"
													alt="" class="mCS_img_loaded">
											</div>
											<div class="name-product">
												<span th:text="${item.produto.nome}"></span>
											</div>
										</div>
									</td>
									<td>
										<div class="price">
											R$<span th:text="${item.produto.valorVenda}"></span>
										</div>

									</td>
									<td class="product-count">
										<form action="#" class="count-inlineflex">
											<a class="qtyminus" role="button"
												th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.produto.id}, acao=${2})}">-</a>
											<input type="text" name="quantidade"
												th:value="${item.quantidade}" class="qty"> <a
												class="qtyplus" role="button"
												th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.produto.id}, acao=${1})}">+</a>
										</form>
									</td>
									<td>
										<div class="total">
											R$<span
												th:text="${#numbers.formatDecimal(item.valorTotal, 0, 'POINT', 2, 'COMMA')}"></span>
										</div>
									</td>
									<td><a role="button"
										th:href="@{/removerProduto/{id}(id=${item.produto.id})}"
										title=""> <img src="/image/delete.webp" alt=""
											class="mCS_img_loaded">
									</a></td>
								</tr>

							</tbody>
						</table>

					</div>

				</div>

				<div class="col-lg-4">
					<div class="cart-totals">
						<h3>Cart Totals</h3>
						<form action="#" method="get" accept-charset="utf-8">
							<table>
								<tbody>
									<tr>
										<td>Subtotal</td>
										<td class="subtotal">R$<span
											th:text="${#numbers.formatDecimal(valorTotalCarrinho, 0, 'POINT', 2, 'COMMA')}">
										</span>

										</td>
									</tr>
									<tr>
										<td>Frete</td>
										<td class="free-shipping">Frete Grátis</td>
										<!-- TODO: Implementar API de Frete -->
									</tr>
									<tr class="total-row">
										<td>Total</td>
										<td class="price-total">R$<span
											th:text="${#numbers.formatDecimal(valorTotalCarrinho, 0, 'POINT', 2, 'COMMA')}">
												<!-- TODO: Implementar o calcularTotalComFrete() do  ValorTotalCarrinhoService.class -->
										</span></td>
									</tr>
								</tbody>
							</table>
							<div class="btn-cart-totals">
								<a href="#" class="checkout round-black-btn" title="">
									Finalizar Compra</a> <a></a>
							</div>
						</form>
						<br>
					</div>
				</div>
			</div>
		</div>
	</section>


</body>

</html>