body {
  padding-top: 60px;
  background-color: #F4F4F4; 
}

.list-group-i{
	border: 0px;
	margin-top: 8px;
	color: #888a85;
	text-decoration: none;
}
.list-group-i:hover{
	color: #373737;
	text-decoration: none;
}
/* Solid border */
.solid {
  border-top: 1px solid;
  border-color: gray;
}

.valor-identificador{
	color: red;
}